.product-lists:hover {
  /* background-color: #ddd; */
  position: relative;
  left: -1rem;
}

.product-lists {
  /* background-color: #ddd; */
  position: relative;
  left: 1rem;
  transition: all 0.3s;
}

.bill-modal {
  pointer-events: auto;
  position: relative;
  background-color: #fff;
  width: 50vh;
  min-height: 90vh;
}

.bill-receipt {
  position: relative;
  background-color: #fff;
  width: 50vh;
  min-height: 80vh;
}

.btn-adds-customer {
  border: 2px solid #28c76f;
  color: #28c76f;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  font-weight: 600;
  /* margin-bottom: 5px; */
  max-height: 98.5px;
}

.product-lists-order {
  border: 1px solid #fafbfe;
  box-shadow: 4px 4px 1px 1px rgba(220, 220, 220, 1);
  margin: 10px 10px 15px 15px;
  padding: 15px;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.split-card-product {
  margin: 0 0 15px;
  border: 1px dashed #eee;
  position: relative;
}
.split-card-product::before {
  position: absolute;
  content: '';
  background: #eee;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  top: -10px;
  left: -10px;
}
.split-card-product::after {
  position: absolute;
  content: '';
  background: #eee;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  top: -10px;
  right: -10px;
}
.customcolor {
  color: rgba(255, 100, 39, 0.6);
}

.overflow-veritcal {
  position: absolute;
  top: 120px;
  bottom: 100px;
  left: 180px;
  width: 50%;
  overflow-y: scroll;
}
.product-lists-dish {
  border: 1px solid #fafbfe;
  box-shadow: 4px 4px 4px 4px rgba(220, 220, 220, 1);
  margin: 0 0 15px;
  padding: 15px;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 23px;
  background: #e7e7e7 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777 !important;
}
